<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TekkenCommand</title>
    <link rel="stylesheet" href="../css/test.css">

    <script src="../js/sc_character.js"></script>
    <script src="../js/sc_command.js"></script>
    <script src="../js/sc_comment.js"></script>
    <script src="../js/sc_fetching.js"></script>
    <script src="../js/sc_favorite.js"></script>
    <script src="../js/sc_cookie.js"></script>
    <script>
        window.onload = function () {
            fetchCharacterData();
        }
    </script>
    <style type="text/css">

    </style>
</head>

<body>
    <div id="app">
        <header id="top-header" class="header">
            <div id="top-header-row1" class="container">
                <a id="top-header-logo" href="http://localhost:3000"><img src="../assets/img/logo/tekken8logo.png"></a>
                <div id="top-header-name">ARCHIVE</div>
                <div id="top-header-login">
                    <% if(isLogin==1){%>
                        <p style="font-size:12px"> nickname : <%=nickname%></p>
                        <button id="logoutBtn" onclick="location.href='/user/logout/redirect'">로그아웃</button>
                        <button id="myPageBtn" onclick="location.href='/myPage'">마이페이지</button>
                    <%}else{%>
                        <button id="loginBtn" onclick="location.href='/user/login'">로그인하러 가기</button>
                    <%} %>
                </div>
            </div>
            <nav id="top-nav" class="nav">
                <ul id="main-navigation">
                    <li><a href='http://localhost:3000'>command</a></li>
                    <li><a href='http://localhost:3000'>favorite</a></li>
                    <li><a href='http://localhost:3000'>preset</a></li>
                    <li><a href='http://localhost:3000'>etc1</a></li>
                    <li><a href='http://localhost:3000'>etc2</a></li>
                </ul>
            </nav>
        </header>
        <div id="white1"></div>
        <div id="contents">
            <div id="bottom-left">
                <div id="character-search">
                    <input type="text" placeholder="캐릭터 검색" oninput="displayCharacters(this.value)"
                        onkeydown="handleSearch(event)">
                </div>
                <div id="character-container"></div>
            </div>
            <div id="bottom-mid">
                <div id="command-search-container">
                    <div id="command-search">
                        <input type="text" placeholder="Searching Command Name" oninput="displayCommands(this.value)">
                        <div id="command-search-tooltip">( Starting with . ->Search Command ex) . 236 . lplprprp )</div>
                    </div>
                    <div id="command-condition">
                        commandCondition
                    </div>
                </div>
                <div id="command-container"></div>
            </div>
            <div id="bottom-right">기타</div>
        </div>
        <div id="white1"></div>
        <div id="footer">
            푸터
        </div>
    </div>
</body>

</html>