<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TekkenCommand</title>
    <link rel="stylesheet" href="../css/test.css">
    <link rel="stylesheet" href="../css/dialog-login.css">

    <script src="../js/sc_character.js"></script>
    <script src="../js/sc_command.js"></script>
    <script src="../js/sc_comment.js"></script>
    <script src="../js/sc_fetching.js"></script>
    <script src="../js/sc_favorite.js"></script>
    <script src="../js/sc_cookie.js"></script>
    <script src="../js/sc_loginDialog.js"></script>
    <script>
        window.onload = function () {
            fetchCharacterData();
            setLoginDialog();
        }
    </script>
</head>

<body>
    <div id="app">
        <header id="top-header">
            <div id="top-header-row1" class="container">
                <a id="top-header-logo" href="http://localhost:3000"><img src="../assets/img/logo/tekken8logo.png"></a>
                <div id="top-header-name">ARCHIVE</div>
                <div id="top-header-login">
                    <% if(isLogin==1){%>
                        <p style="font-size:12px"> nickname : <%=nickname%>
                        </p>
                        <button id="logoutBtn" onclick="location.href='/user/logout'">로그아웃</button>
                        <button onclick="location.href='/myPage'">마이페이지</button>
                    <%}else{%>
                        <button id="btn-dialog-login">로그인하러 가기</button>
                    <%} %>
                </div>
            </div>
            <nav id="top-nav" class="nav">
                <ul id="main-navigation">
                    <li><a href='http://localhost:3000'>command</a></li>
                    <li><a href='http://localhost:3000'>favorite</a></li>
                    <li><a href='http://localhost:3000'>preset</a></li>
                    <li><a href='http://localhost:3000'>etc1</a></li>
                    <li><a href='http://localhost:3000'>etc2</a></li>
                </ul>
            </nav>
        </header>
        <div id="white1"></div>
        <div id="contents">
            <div id="bottom-left">
                <div id="character-search">
                    <input type="text" placeholder="캐릭터 검색" oninput="displayCharacters(this.value)"
                        onkeydown="handleSearch(event)">
                </div>
                <div id="character-container"></div>
            </div>
            <div id="bottom-mid">
                <div id="command-search-container">
                    <div id="command-search">
                        <input type="text" placeholder="Searching Command Name" oninput="displayCommands(this.value)">
                        <div id="command-search-tooltip">( Starting with . ->Search Command ex) . 236 . lplprprp )</div>
                    </div>
                    <div id="command-condition">
                        commandCondition
                    </div>
                </div>
                <div id="command-container"></div>
            </div>
            <div id="bottom-right">기타</div>
        </div>
        <div id="white1"></div>
        <div id="footer">
            푸터
        </div>
    </div>
    <dialog id="dialog-login">
        <form method="dialog" name="frmLogin">
            <div id="dialog-login-header">
                <div>
                    <strong class="title">User Login</strong>
                    <div>
                        <button type="button" id="btn-dialog-close" value="cancel">❌</button>
                    </div>
                </div>
            </div>
            <nav id="dialog-nav" class="nav">
                <ul id="dialog-navigation">
                    <li name="login">LOGIN</li>
                    <li name="signup">SIGNUP</li>
                </ul>
            </nav>
            <div id="dialog-login-contents">
                <div>
                    <label for="id" class="login signup">
                        <div class="label">ID:</div>
                        <div class="verifyContraints" name="id-fail" style="display: none;">❗</div>
                        <div class="verifyContraints" name="id-pass" style="display: none;">✔</div>
                        <input type="text" id="id" name="id" logintype="login" oninput="verifyIdContraints()"/>
                    </label>

                    <label for="password" class="login signup">
                        <div class="label">PW:</div>
                        <div class="verifyContraints" name="pw-fail" style="display: none;">❗</div>
                        <div class="verifyContraints" name="pw-pass" style="display: none;">✔</div>
                        <input type="password" id="password" name="password" logintype="login" oninput="comparePassword();verifyPasswordContraints();" />
                    </label>

                    <label for="passwordCheck" class="signup">
                        <div class="label">PWCHECK:</div>
                        <div class="verifyContraints" name="pwc-fail" style="display: none;">❗</div>
                        <div class="verifyContraints" name="pwc-pass" style="display: none;">✔</div>
                        <input type="password" id="passwordCheck" name="passwordCheck" oninput="comparePassword()" />
                    </label>

                    <label for="nickname" class="signup">
                        <div class="label">NICKNAME:</div>
                        <div class="verifyContraints" name="nck-fail" style="display: none;">❗</div>
                        <div class="verifyContraints" name="nck-pass" style="display: none;">✔</div>
                        <input type="text" id="nickname" name="nickname" oninput="verifyNicknameContraints()"/>
                    </label>
                </div>
            </div>
            <div id="dialog-login-footer">
                <button id="btn-login" class="login">LOG IN</button>
                <button id="btn-signup" class="signup">SIGN UP</button>
            </div>
        </form>
    </dialog>
</body>

</html>