<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TekkenCommand</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/character_box.css">
    <link rel="stylesheet" href="../css/color.css">
    <link rel="stylesheet" href="../css/command_table.css">
    <script src="../js/sc_character.js"></script>
    <script src="../js/sc_command.js"></script>
    <script src="../js/sc_comment.js"></script>
    <script src="../js/sc_fetching.js"></script>
    <script src="../js/sc_favorite.js"></script>
    <script>
        window.onload = function(){
            fetchCharacterData();
        }
    </script>
</head>

<body>
    <div class="topFrame">
        <div class="info">
            <p>Tekken7 Command Dictionary</p>
            <p>Version : Tekken 7 v5.01</p>
        </div>
        <div class="help">
            <p>도움말</p>
            <div id="commandIMG"></div>
        </div>
        <div id="userInfo">
            <%
            if(!id){%>
                <button id="loginBtn" onclick="location.href='/user/login'">로그인하러 가기</button>
            <%}else{%>
                <p> id : <%=id%> <p>
                <button id="logoutBtn" onclick="location.href='/user/logout/redirect'">로그아웃</button>
            <%}
            %>
        </div>
    </div>
    <div class="bottomFrame">
        <div class="bottomLeftFrame">
            <div class="characterSearch">
                <input type="text" id="characterInput" placeholder="캐릭터 검색" oninput="displayCharacters(this.value)"
                    onkeydown="handleSearch(event)">
            </div>
            <div class="characterList"></div>
        </div>
        <div class="commandFrame">
            <div class="searchBox">
                <div class="commandSearch">
                    <input type="text" id="searchInput" placeholder="Searching Command Name" oninput="displayCommands(this.value)">
                    <div id="searchToolTip">( Starting with . ->Search Command ex) . 236 . lplprprp )</div>
                </div>
                <div class="commandCondition">
                    commandCondition
                </div>
            </div>
            <div class="commandList"></div>
        </div>
        <div class="advertisement">
            <p>기타</p>
        </div>
    </div>
</body>

</html>