body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(94, 94, 94);
}

.topFrame {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomFrame {
    width: 1000px;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.info {
    width: 29%;
    height: 80%;
    margin : 5px;
    
    background-color: #b8b8b8;
}

.help {
    width: 39%;
    height: 80%;
    margin : 5px;
    
    background-color: #b8b8b8;
}

.setting {
    width: 29%;
    height: 80%;
    margin : 5px;
    background-color: #b8b8b8;
}

.bottomLeftFrame {
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: gray;
    position: relative;
    overflow: hidden;
}

.characterSearch {
    height: 50px;
    display: flex;
    
}
.characterSearch input {
    width : 100%;
}
.searchBox {
    width: 95%;
    margin-left: 2.5%;
    display: flex;
}
.commandSearch {
    height: 50px;
    display: flex;
    width: 70%;
}
.commandSearch input {
    width : 100%;
}
.commandCondition{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.characterContainer {
    height: 90%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    /* overflow : auto; */
    overflow-y: scroll;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}
.characterContainer::-webkit-scrollbar{
    display: none;
}
.commandFrame {
    width: 79%;
    height: 100%;
    background-color: rgb(143, 143, 143);
    overflow: hidden;
}
.skillBox {
    width: 90%;
    height: 100px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.flexContainer {
    width : 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}
.commandList {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 90%;
    display: flex;
    position: relative;
    justify-content: center;
    /* overflow: auto; */
    overflow-y: scroll;
}
.commandList::-webkit-scrollbar{
    width: 10px;
}
.commandList::-webkit-scrollbar-thumb{
    height : 10%;
    background : red;

    border-radius: 10px;
}
.commandList::-webkit-scrollbar-track{
    background :rgb(143, 143, 143);
}
.characterBox {
    width : 100%;
    height : flex;
    border : white solid 1px;
    margin : 5px;
}
.advertisement {
    width: 19%;
    height: 500px;
    background-color: #b8b8b8;
}

.command_table td {
    border : 1px black solid;
}

.command_table{
    margin: 5px;
    border-collapse: collapse;
    border : 2px black solid;
    width : 100%;
}
.command_num{
    width :10%;
}
.command_name{
    width :70%;
}
.command{
    width :50%
}
.favorite_check_star_td{
    text-align: right;
}
.favorite_check_box:hover .favorite_check_star{
    visibility: hidden;
}
.favorite_check_box:hover .favorite_check_star_filled{
    visibility: hidden;
}


