body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(94, 94, 94);
}

.topFrame {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomFrame {
    width: 1000px;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.info {
    width: 29%;
    height: 80%;
    margin : 5px;
    
    background-color: #b8b8b8;
}

.help {
    width: 39%;
    height: 80%;
    margin : 5px;
    
    background-color: #b8b8b8;
}

.setting {
    width: 29%;
    height: 80%;
    margin : 5px;
    background-color: #b8b8b8;
}

.bottomLeftFrame {
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: gray;
    position: relative;
    overflow: hidden;
}

.characterSearch {
    height: 50px;
    display: flex;
    
}
.characterSearch input {
    width : 100%;
}
.searchBox {
    width: 95%;
    margin-left: 2.5%;
    display: flex;
}
.commandSearch {
    height: 50px;
    display: flex;
    flex-direction: column;
    width: 70%;
}
#searchToolTip{
    height : 25%;
    font-size: 5px;
}
.commandSearch input {
    width : 100%;
    height: 70%;
}
.commandCondition{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.characterList {
    height: 90%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    overflow-y: scroll;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}
.characterList::-webkit-scrollbar{
    display: none;
}
.commandFrame {
    width: 79%;
    height: 100%;
    background-color: rgb(143, 143, 143);
    overflow: hidden;
}
.flexContainer {
    width : 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.commandList {
    margin-bottom: 5px;
    height: 90%;
    display: flex;
    position: relative;
    justify-content: center;
    /* overflow: auto; */
    overflow-y: scroll;
}
.commandList::-webkit-scrollbar{
    width: 10px;
}
.commandList::-webkit-scrollbar-thumb{
    height : 10%;
    background : red;

    border-radius: 10px;
}
.commandList::-webkit-scrollbar-track{
    background :rgb(143, 143, 143);
}
.advertisement {
    width: 19%;
    height: 500px;
    background-color: #b8b8b8;
}



